:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

/*cabeçalho*/

.hamburguer {
  display: none;
  font-size: 28px;
  margin-top: 10px;
  margin-right: 20px;
  user-select: none;
}

.h2ortos {
  color: #d4af37;
}

.header{
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu h5 {
  color: black;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: 5px;
}

.logo-text {
  color: black;
  display: flex;
  flex-direction: column;
}


/* mobile */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 70px; 
    right: 10px;
    background: white;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
  }

  .menu.open {
    display: flex;
  }

  .menu h5 {
    margin: 10px 20px; 
  }

  .hamburguer {
    display: block;
  }
}

/*rodapé*/
.rodape{
  display: flex;
  border-top: 1px solid;
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between
}

.icones{
  margin-right: 5%;
}





/*botoes slides pag pincipal*/

.swiper-button-next,
.swiper-button-prev {
  color: #000 !important; 
  scale: 1.5; 
}

.swiper-pagination-bullet-active {
  background: #000 !important;
}

