
.consulta {
    margin-top: 5%;
    display: flex; 
    justify-content: center; 
    align-items: center;

}

.quadrado {
    text-align: center;
    background-color: gray;
    width: 700px;
    height: 600px;
    padding: 20px;
    border-radius: 25px;
}

.entradas{
    display: flex;
    flex-direction: column;
}

.entradas input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.entradas button {
    background-color: rgb(46, 158, 255);
    color: black;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}


